.shift_wrap_unclicked {
  border: 3px solid black;
  height: 150px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.shift_wrap_unclicked:hover {
  background-color: #6fa8dc;
  cursor: pointer;
}

.shift_wrap_unclicked > p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}

.shift_times {
  display: flex;
}

.shift_wrap_clicked {
  border: 3px solid black;
  height: 150px;
  width: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6fa8dc;
}

.shift_wrap_clicked:hover {
  background-color: #6fa8dc;
  cursor: pointer;
}

.shift_wrap_clicked > p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
}
